/*****************Footer*****************/
.footer{
  display: flex;
  justify-content: center;
  background-color: var(--negro);
  width: 100vw;
  font-weight: 600;
  font-size: 1.5rem;
}
.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-email{
  --backgroud-email:var(--amarillo);

  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 520px;
  width: auto;
  padding: 5rem 4rem;
  gap: 1rem;
  background-color: var(--backgroud-email);
}
.email-text{
  font-size:2rem;
}
.email-form{
  display: flex;
  gap: 1rem;
}
.email-form button, .email-form input{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border:solid var(--negro) 4px;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 100px;
}
.email-form input{
  padding: 0.3rem 1.5rem;
  width: 100%;
}
.email-form button{
  border-radius: 100%;
  background: linear-gradient(to left,transparent 50%,var(--negro) 50%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: all .7s var(--animacion);
}
.email-form button:hover, .email-form button:focus,.email-form button:hover svg path, .email-form button:focus svg path{
  background-position:left bottom;
  fill: var(--backgroud-email);
}

.footer-info{
  background-color: var(--negro);
  color:var(--blanco);
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  align-items: center;
  gap:2rem;
  padding: 0rem 4rem;
  width: 100%;
  height: 100%;
}
.footer-logo svg path{
  fill: var(--blanco);
  stroke: var(--blanco);
}
.footer-ul-wrap{
  display: flex;
  gap:2rem;
}
.footer-ul{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-ul li{
  display: inline-flex;
}
.footer-ul li > a::after{
  content: '';
  position: relative;
  display: block;
  left: 0;
  width: 0px;
  height: 3px;
  bottom: 4px;
  background-color:var(--blanco);
  border-radius: 2rem;
  transition: all 0.1s ease;
}

.footer-ul li > a:hover::after, .footer-ul li > a:focus::after{
  width: 100%;
  transition: all 0.3s var(--animacion);
}

@media (max-width: 1000px){
  .footer-container{
    flex-direction: column;
  }
  .footer-email{
    max-width: 100%;
    padding: 4rem 5rem;
  }
  .footer-info{
    padding: 4rem 5rem;
  }
  .footer-ul-wrap{
    flex-wrap: wrap;
  }
}