@media (max-width: 1200px){
    html{
        font-size: var(--font-size-sm);
    }

    section{
        --padding:2rem;

        padding-left:var(--padding);
        padding-right:var(--padding);
    }
}

@media (max-width: 1000px){
    html{
        font-size: var(--font-size-xl);
    }

    section{
        --padding: 3rem;
        padding-left: var(--padding);
        padding-right: var(--padding);
    }
}