@media (max-width: 1200px){
    html{
        font-size: var(--font-size-sm);
    }

    section{
        --padding:2rem;

        padding-left:var(--padding);
        padding-right:var(--padding);
    }

    .card-content{
        min-width: 400px;
    }

    .comment-card{
        max-width: 400px;
    }
}

@media (max-width: 1000px){
    html{
        font-size: var(--font-size-xl);
    }

    section{
        --padding: 4rem;
        padding-left: var(--padding);
        padding-right: var(--padding);
    }
}