:root{
  --font-size-tn:12px;
  --font-size-sm:14px;
  --font-size-md:16px;
  --font-size-lg:18px;
  --font-size-xl:20px;

  --fuente-primaria: "Fredoka", sans-serif;

  /*Colors*/
  --negro:#200A2A;
  --blanco:#fff;
  --rojo:#E34456;
  --azul-oscuro:#434AAA;
  --morado:#7A3197;
  --magenta:#C7286C;
  --naranja:#EC885A;
  --amarillo:#FFDD7B;
  --verde:#2E7960;

  /*Section colors*/
  --backgroud:var(--blanco);

  --nav-background:var(--rojo);
  --nav-font-color:var(--blanco);

  --hero-title:var(--rojo);
  --hero-title-second:var(--azul-oscuro);
  --hero-button:var(--azul-oscuro);
  --hero-background:var(--blanco);

  --beginner-color:var(--azul-oscuro);
  --intermediate-color:var(--morado);
  --advance-color:var(--magenta);

  --learn-title:var(--azul-oscuro);
  /*Animation*/
  --animacion:cubic-bezier(.11,.79,.1,1);

  /* Packs Colors */

}

/*Reset de toda la vida*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  position: relative;
  font-size: var(--font-size-md);
  font-family: var(--fuente-primaria);
  color:var(--negro);
}
body{
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  line-height: 1.5;
}
/*From Jhey in codepen*/
body::before {

  --size: 5rem;
  --line: color-mix(in hsl, canvasText, transparent 75%);

  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(0deg, transparent 10%, white);
  top: 0;
  pointer-events: none;
  z-index: -1;
}
main{
  width: 100%;
  height: 100%;
}

a , li{
  list-style-type: none;
  text-decoration:none;
  text-decoration-skip-ink: auto;
  color: inherit;
}

button, input{
  font: inherit;
  background-color: transparent;
  border: none;
}
h1{
  font-size: 4rem;
  line-height: 1.2;

}
h2{
  font-size: 3rem;
  line-height: 1.2;
}
h3{
  font-size: 1.5rem;
}

/*All Sections*/
section{
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 6.5rem 0;
  opacity: 0;
}
/*************************Price Tag*************************/
.card-price{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.discount{
  position: relative;
  opacity: 0.8;
  font-size: 2rem;
}
.discount::after{
content: '';
position: absolute;
top:50%;
left:0;
width: 100%;
height: 4px;
background-color: inherit;
border-radius: 2rem;
}

.card-buttons{
  display: flex;
  padding: 1rem 0 0 0;
  justify-content:space-around;
  align-items: center;
}