:root{
  --font-size:16px;
  --fuente-primaria: "Fredoka", sans-serif;

  /*Colors*/
  --negro:#200A2A;
  --blanco:#fff;
  --rojo:#E34456;
  --azul-oscuro:#434AAA;
  --morado:#7A3197;
  --magenta:#C7286C;
  --naranja:#EC885A;
  --amarillo:#FFDD7B;
  --verde:#2E7960;

  /*Section colors*/
  --backgroud:var(--blanco);

  --nav-background:var(--rojo);
  --nav-font-color:var(--blanco);

  --hero-title:var(--rojo);
  --hero-title-second:var(--azul-oscuro);
  --hero-button:var(--azul-oscuro);
  --hero-background:var(--blanco);

  --beginner-color:var(--azul-oscuro);
  --intermediate-color:var(--morado);
  --advance-color:var(--magenta);

  --learn-title:var(--azul-oscuro);
  /*Animation*/
  --animacion:cubic-bezier(.11,.79,.1,1);

  /* Packs Colors */

}

/*Reset de toda la vida*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  position: relative;
  font-size: var(--font-size);
  font-family: var(--fuente-primaria);
  color:var(--negro);
}
body{
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  line-height: 1.5;
}
/*From Jhey in codepen*/
body::before {

  --size: 5rem;
  --line: color-mix(in hsl, canvasText, transparent 75%);

  content: '';
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(0deg, transparent 10%, white);
  top: 0;
  pointer-events: none;
  z-index: -1;
}
main{
  width: 100%;
  height: 100%;
}

a , li{
  list-style-type: none;
  text-decoration:none;
  text-decoration-skip-ink: auto;
  color: inherit;
}

button, input{
  font: inherit;
  background-color: transparent;
  border: none;
}
h1{
  font-size: 4rem;
  line-height: 1.2;

}
h2{
  font-size: 3rem;
  line-height: 1.2;
}
h3{
  font-size: 1.5rem;
}

/*All Sections*/
section{
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 6.5rem 1.5rem;
  opacity: 0;
}
/*****************Buttons*****************/
.button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 1.5rem;
  border:solid var(--negro) 4px;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 100px;
  background: linear-gradient(to left,transparent 50%,var(--negro) 50%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: all .7s var(--animacion);
}
.button:hover, .button:focus{
  background-position:left bottom;
  color: var(--blanco);
}
/*****************Header*****************/
.header-container{
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 999;
  font-size: 1.5rem;
  background-color: var(--nav-background);
  padding: 1rem 4rem;
  border-bottom:solid var(--nav-font-color) 4px;
  color:var(--nav-font-color);
}

.header-menu{
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: 600;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
  font-size: 1.5rem;
}
.logo svg{
  width: 3.5rem;
  height: auto;
}
.logo svg path:first-child{
  fill: transparent;
}
.logo svg path{
  stroke: var(--nav-font-color);
  fill: var(--nav-font-color);
}

.nav-menu-items{
  display: flex;
}
.nav-menu-items li{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
.nav-menu-items li a{
  padding: 1rem;
}

/*Linea de Animcacion de Link*/
.nav-menu-items li > a::after{
  content: '';
  position: relative;
  display: block;
  left: 0;
  width: 0px;
  height: 4px;
  bottom: 4px;
  background-color: var(--nav-font-color);
  border-radius: 2rem;
  transition: all 0.1s ease;
}
.nav-menu-items li > a:hover::after, .nav-menu-items li > a:focus::after{
  width: 100%;
  transition: all 0.3s var(--animacion);
}

/*****************Hero Section*****************/
.hero-section{
  max-width: 1280px;
  padding-top: 7rem;
  display:flex;
  justify-content: center;
  text-align: center;
}
.hero-text{
  width: 100%;
}
.title-animation{
  display:grid;
  justify-content: center;
  font-size: 6rem;
  font-weight: bold;
  grid-template-columns:repeat(3, auto);
  grid-template-rows: auto;
  margin-bottom: 3.5rem;
  grid-template-areas:
  "second first third"
  "none none four";
  line-height: 1;
  cursor:cell;
}
.title-animation > *{
  display: inline-block;
  width: max-content;
}
.firstStep{
  grid-area:first; 
}
.secondStep{
  grid-area:second; 
}
.thirdStep{
  grid-area:third; 
}
.fourStep{
  opacity: 0;
  grid-area:four; 
}
/*Para la Animacion*/
.red{
  color: var(--hero-title);
}
.blue{
  color:var(--hero-title-second);
}
/*******/

.hero-text p{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.buttons-container{
  display: flex;
  justify-content: center;
  gap:0.5rem;
}
.hero-button{
  background: linear-gradient(to left,transparent 50%,var(--hero-button) 50%);
  background-size: 300% 100%;
  background-position: right bottom;
  border: solid var(--hero-button) 4px;
  color: var(--hero-button);
}

.hero-button:hover, .hero-button:focus{
  background-position:left bottom;
}

/*****************Process Section*****************/
.learn-proc{
  max-width: 1280px;
}
.learn-wrap{
  display: grid;
  gap:2rem;
  grid-template-columns: 1.125fr 1fr;
  grid-template-rows: 1fr;
  align-items: start;
  width: 100%;

}
.learn-proc-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  text-align: right;
  top: 35%;
}
.learn-proc-title > h2{
  line-height: 1.2;
  color: var(--learn-title);
}
.learn-proc-title p{
  text-wrap: balance;
  font-size: 1.5rem;
}
.proc-list > li > h3{
  font-size: 2rem;
  line-height: 1.8;
}
.proc-list > li{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 4rem;
  font-size: 1.5rem;
}
.proc-list > li:last-child{
  margin-bottom: 0;
}

/*****************Middle title*****************/

.middle{
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--rojo);
  color: var(--blanco);
  border-radius: 2rem;
}

.middle h2{
  font-size: 3rem;
}
.middle p{
  font-size: 1.5rem;
}

/*************************Price Tag*************************/
.card-price{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.discount{
  position: relative;
  opacity: 0.8;
  font-size: 2rem;
}
.discount::after{
content: '';
position: absolute;
top:50%;
left:0;
width: 100%;
height: 4px;
background-color: inherit;
border-radius: 2rem;
}

.card-buttons{
  display: flex;
  padding: 1rem 0 0 0;
  justify-content:space-around;
  align-items: center;
}

/*********************Special Packs*********************/

.packs{
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1rem;
}

.packs-header{
  color: var(--azul-oscuro);
  align-self: center;
  text-align: center;
  padding: 1.5rem;
  font-size: 4rem;
  order: 2;
}

.packs-header h2,.packs-header span{
  display: block;
  font-size: inherit;
}
.pack-container{
  width:800px ;
  height: 800px;
}
/*Packs Cards*/

.pack-card{
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  width: auto;
  gap:0.5rem;
  padding: 1rem;
  border-radius: 1.5rem;
  color: var(--negro);
  background-color: var(--backgroud);
  border:solid var(--negro) 4px;
  transition: all 0.3s var(--animacion);
}

.pack-card:hover, .pack-card:focus{
  background-color: var(--negro);
  color: var(--blanco);
}

.pack-card h3{
  font-size: 1.5rem;
  text-align: center;
}

.pack-list{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  gap:0.2rem;
  font-size: 1rem;
}

.pack-list > li{
  list-style-position: outside;
  list-style-type: disc;
  margin-left: 1rem;
}

/*Pack Prices*/

.price-wrap{
line-height: 1.2;
}
.pack-price{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.pack-discount{
  position: relative;
  opacity: 0.8;
  font-size: 1.5rem;
}

.pack-discount::after{
  content: '';
  position: absolute;
  top:50%;
  left:0;
  width: 100%;
  height: 4px;
  background-color: inherit;
  border-radius: 30px;
}

.pack-saveoff{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/*****************Comments Section*****************/
.comments{
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3rem;
}
/*Comments card*/
.comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 4rem 0;
}
.comment-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border:solid var(--rojo) 4px;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 100%;
  background: linear-gradient(to left,transparent 50%,var(--rojo) 50%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: all .7s var(--animacion);
}
.comment-button:first-child{
  transform: rotate(180deg);
}
.comment-button svg path{
  fill: var(--rojo);
}
.comment-button:hover, .comment-button:focus,.comment-button:hover svg path, .comment-button:focus svg path{
  background-position:left bottom;
  fill: var(--blanco);
}
.comment-card{
  --padding:1rem;
  --border-radius-size:3rem;
  --calc:calc(var(--border-radius-size) - var(--padding));

  width: 100%;
  background-color: var(--rojo);
  max-width: 500px;
  flex: 0 0 auto;
  border:solid var(--rojo) 4px;
  border-radius:var(--calc);
  overflow: hidden;
}

.comment-head{
  color: var(--blanco);
  display: flex;
  gap:0.5rem;
  padding: var(--padding);
}
.comment-head img{
  width: 100px;
  height: 100px;
  background-color: var(--blanco);
  border-radius: 10rem;
  overflow: hidden;
}
.name{
  font-size: 2rem;
}
.sub-title{
  font-size: 1.5rem;
}
.text-comment{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color:var(--negro);
  background-color: var(--blanco);
  padding: 1rem;
  font-size: 1.5rem;
}

.star-rate{
  font-weight: bold;
}

/*****************Footer*****************/
.footer{
  background-color: var(--negro);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: auto;
  font-weight: 600;
  font-size: 1.5rem;
}
.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-email{
  --backgroud-email:var(--amarillo);

  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 520px;
  height: 100%;
  padding: 5rem;
  gap: 1rem;
  background-color: var(--backgroud-email);
}
.email-text{
  font-size:2rem;
}
.email-form{
  display: flex;
  gap: 1rem;
}
.email-form button, .email-form input{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border:solid var(--negro) 4px;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 100px;
}
.email-form input{
  padding: 0.3rem 1.5rem;
  width: 100%;
}
.email-form button{
  border-radius: 100%;
  background: linear-gradient(to left,transparent 50%,var(--negro) 50%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: all .7s var(--animacion);
}
.email-form button:hover, .email-form button:focus,.email-form button:hover svg path, .email-form button:focus svg path{
  background-position:left bottom;
  fill: var(--backgroud-email);
}

.footer-info{
  background-color: var(--negro);
  color:var(--blanco);
  display: 	flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap:2rem;
  padding: 5rem;
  width: 100%;
  height: 100%;
}
.footer-logo svg path{
  fill: var(--blanco);
  stroke: var(--blanco);
}
.footer-ul-wrap{
  display: flex;
  gap:2rem;
}
.footer-ul{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-ul li{
  display: inline-flex;
}
.footer-ul li > a::after{
  content: '';
  position: relative;
  display: block;
  left: 0;
  width: 0px;
  height: 3px;
  bottom: 4px;
  background-color:var(--blanco);
  border-radius: 2rem;
  transition: all 0.1s ease;
}

.footer-ul li > a:hover::after, .footer-ul li > a:focus::after{
  width: 100%;
  transition: all 0.3s var(--animacion);
}